#box {
    height: 40vh;
    width: 40vh;
    border-style: solid;
    padding-top: 5vh;
}

body {
    padding-top: 20vh;
    background-image: url('login\ page_bg.jpg');
}

img {
    width: 10vh;
    height: 10vh;
}